@media  screen and (max-width:400px){
    h5{
        font-size: 9.5px;
    }
    
}
@media  screen and (min-width:401px) and (max-width:1400px){
    h5{
        font-size: 11px;
    }
    
}
@media  screen and (max-width:450px){

    p{
        font-size: 12px;
    } 


    
}
